.home {
  height: 100vh;
}

.home-inner {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.panel {
  position: relative;
  height: 100%;
  z-index: 5;
}

.line-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  .line {
    width: 100%;
    height: 1px;
    background-color: rgba($color-body, 0.2);
    position: absolute;
    left: 0;

    &--first {
      top: 40px;
    }
    &--second {
      top: calc(25% + 20px);
    }
    &--third {
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
    &--fourth {
      bottom: calc(25% + 20px);
    }
    &--fifth {
      bottom: 40px;
    }
  }
}

.about {
  width: 65vw;
  z-index: 2;
  @media #{$screen-md-max} {
    width: 50vw;
  }
  &__name {
    position: absolute;
    z-index: 5;
    overflow: hidden;
    &--first {
      left: 40px;
      bottom: 50%;
      @media #{$screen-md-max} {
        left: 20px;
      }
      @media #{$screen-md-max} {
        bottom: calc(50% + 30px);
      }
    }

    &--last {
      left: 600px;
      bottom: calc(25% + 20px);
      @media #{$screen-md-max} {
        left: 450px;
      }
      @media #{$screen-md-max} {
        left: 20px;
        bottom: calc(50% - 54px);
      }
    }

    span {
      display: block;
    }
  }
  &__title {
    position: absolute;
    left: 40px;
    bottom: calc(25vh + 20px);
    line-height: 1.4;
    @media #{$screen-sm-max} {
      width: 100vw;
      left: 20px;
    }
    div {
      overflow: hidden;
      margin-top: -1rem;
      @media #{$screen-sm-max} {
        margin-top: -0.5rem;
      }
    }
    span {
      display: block;
    }
  }
}

.about-img {
  width: 800px;
  z-index: 1;
  @media #{$screen-md-max} {
    width: 700px;
  }
  &__bottom {
    position: absolute;
    width: 400px;
    height: 50vh;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    @media #{$screen-md-max} {
      width: 350px;
    }
    .bg-image {
      width: 130%;
      background-position: right;
    }
  }
  &__top {
    position: absolute;
    width: 400px;
    height: 50vh;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    @media #{$screen-md-max} {
      width: 350px;
    }
    .bg-image {
      width: 130%;
      left: auto;
      right: 0;
    }
  }
}

.about-detail {
  width: 80vw;
  left: -100px;
  @media #{$screen-sm-max} {
    width: 100vw;
  }
  &__inner {
    position: absolute;
    top: calc(25vh + 5px);
    @media #{$screen-sm-max} {
      top: calc(25vh + 10px);
    }
  }
  &__intro {
    margin-bottom: 6rem;
    @media #{$screen-sm-max} {
      line-height: 1.3;
    }
  }
  &__skills {
    line-height: 1.4;
  }
}

.project-title {
  width: calc(100px + 20vw);
  padding-left: calc(20vw - 100px);
  @media #{$screen-sm-max} {
    width: 100px;
  }
  h3 {
    position: absolute;
    top: calc(25vh + 10px);
    @media #{$screen-sm-max} {
      top: calc(25vh + 15px);
    }
  }
}

.project {
  width: 640px;
  margin-right: 10rem;
  position: relative;

  &:last-of-type {
    margin-right: 0;
  }

  &--even {
    .project__img {
      top: 0;
      bottom: auto;
    }
    .project__txt {
      top: calc(50vh + 4rem);
      bottom: auto;
    }
  }

  &__inner {
    width: 410px;
    margin-left: 230px;
  }
  &__title {
    width: 230px;
    position: absolute;
    top: 70vh;
    transform: rotate(-90deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-body;
    color: $color-main;
    white-space: nowrap;
    @media #{$screen-sm-max} {
      font-size: 14.55rem;
    }
  }
  &__img {
    width: 410px;
    height: 50vh;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    .bg-image {
      width: 130%;
      left: auto;
      right: 0;
    }
  }
  &__txt {
    position: absolute;
    bottom: calc(50vh + 4rem);
    h3 {
      margin-bottom: 2rem;
    }
    &__skills {
      font-weight: 700;
      margin-top: 1rem;
    }
    a {
      margin-top: 4rem;
    }
  }
}

.contact {
  width: 90vw;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$screen-sm-max} {
    width: 100vw;
  }

  &__info {
    &__title {
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: calc(50vh - 15px);
      text-transform: uppercase;
      @media #{$screen-sm-max} {
        left: 20px;
        bottom: calc(50vh - 5px);
      }
      span {
        display: block;
        &:last-child {
          margin-left: 40rem;
          @media #{$screen-md-max} {
            margin-left: 20rem;
          }
          @media #{$screen-sm-max} {
            margin-left: 10rem;
          }
        }
      }
    }
    &__list {
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: calc(25vh + 20px);
      @media #{$screen-sm-max} {
        left: 20px;
      }
      li {
        margin-bottom: 1rem;
        a {
          @media #{$screen-sm-max} {
            font-size: 1.56rem;
          }
        }
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    height: calc(100vh - 40px);
    @media #{$screen-sm-max} {
      width: 45vw;
    }
  }
}
