// Fonts
$font-serif: "EB Garamond", serif;

$color-body: #fafafa;
$color-main: #2e3428;

// Breakpoints
$screen-xs-max: "only screen and (max-width:500px)";
/* Extra small screen / phone */
$screen-sm-max: "only screen and (max-width:840px)";
/* Small screen / tablet */
$screen-md-max: "only screen and (max-width:1200px)";
/* Medium screen / desktop */
