.header {
  position: fixed;
  top: 34px;
  left: 40px;
  z-index: 10;
  .main-nav {
    ul {
      display: flex;
      li {
        margin-right: 3rem;
        text-transform: uppercase;
        font-size: 1.95rem;
        letter-spacing: 1.6px;
        cursor: pointer;
      }
    }
  }
}
